<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [style.width]="sidenavWidth()" opened *ngIf="!isLoginPage()" id="sidenav"> 
     <app-sidenav></app-sidenav>
    </mat-sidenav>
     
    <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
    <mat-sidenav-content [style.margin-left]="sidenavWidth()">
      <div *ngIf="loading && isLoginPage()" class="d-flex justify-content-center">
    </div>
      <mat-toolbar *ngIf="!isLoginPage()" class="p-4 d-flex justify-content-between">
        <a mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="collapsed.set(!collapsed())" style="cursor: pointer;">
          <i class="fa-solid fa-bars"></i>
        </a>
        <div>
          <nav
          class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
        >
          <div class="container-fluid">
            <nav
              class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
            >
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="submit" class="btn btn-search pe-1">
                    <i class="fa fa-search search-icon"></i>
                  </button>
                </div>
                <input
                  type="text"
                  placeholder="Search ..."
                  class="form-control"
                />
              </div>
            </nav>

            <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
              <li
                class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
              >
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <i class="fa fa-search"></i>
                </a>
                <ul class="dropdown-menu dropdown-search animated fadeIn">
                  <form class="navbar-left navbar-form nav-search">
                    <div class="input-group">
                      <input
                        type="text"
                        placeholder="Search ..."
                        class="form-control"
                      />
                    </div>
                  </form>
                </ul>
              </li>

              <li class="nav-item topbar-user dropdown hidden-caret">
                <a
                  class="dropdown-toggle profile-pic"
                   [matMenuTriggerFor]="menu"
                >
                  <div class="avatar-sm">
                    <img src="/assets/Images/admin.jpg" alt="..." class="avatar-img rounded-circle"
                    />
                  </div>
                  <span class="profile-username">
                    <span class="op-7">Hi,</span>
                    <span class="fw-bold">{{userName}}</span>
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                  <mat-menu  class="dropdown-user-scroll scrollbar-outer" #menu="matMenu">
                    <li>
                      <div class="user-box">
                        <div class="avatar-lg">
                          <img
                            src="assets/Images/admin.jpg"
                            alt="image profile"
                            class="avatar-img rounded"
                          />
                        </div>
                        <div class="u-text">
                          <h4>{{userName}}</h4>
                          <p class="text-muted">{{emails}}</p>
                          <a
                            class="btn btn-xs btn-secondary btn-sm" style="color: white;"
                            >View Profile</a
                          >
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" mat-menu-item href="#">My Profile</a>
                      <a class="dropdown-item" mat-menu-item href="#">My Balance</a>
                      <a class="dropdown-item" mat-menu-item href="#">Inbox</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" mat-menu-item href="#">Account Setting</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" mat-menu-item (click)="logout()">Logout</a>
                    </li>
                  </mat-menu>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>